<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Routing and Navigation!
  </h1>
</div>

<nav>
  <a routerLink="/departments" routerLinkActive="active">Department</a>
  <a routerLink="/employees" routerLinkActive="active">Employees</a>
</nav>

<ul class="tabrow">
  <li><a routerLink="/" routerLinkActive="active">Home</a></li>
  <li><a routerLink="/about" routerLinkActive="active">About</a></li>
  <li><a routerLink="/user/list" routerLinkActive="active">User</a></li>
</ul>
<router-outlet></router-outlet>
